.wrapper {
	width: 78%;
    margin: 0 auto;
	background-color: #2e92da;
	border-radius: 15px;
	border: 1px solid #2e92da;
	margin-bottom: 20px;
}

.item {
	background: rgb(46,145,218);
	background: linear-gradient(187deg, rgba(46,145,218,1) 0%, rgba(17,120,194,1) 100%); 
	color: white;
	border-radius: 15px;
	border: 1px solid #085185;
	box-shadow: 0px 2px 0px rgba(46,145,218,1);
	padding: 10px 15px;
	font-size: 28px;
	margin-bottom: 12px;
}

.img {
	margin-right: 20px;
}

.span {
	text-align: justify;
	margin-right: 15px;
}

.h1 {
	text-align: center;
	color: white;
	padding: 25px 15px;
	box-shadow: 1px 2px 2px gray rgba(0, 0, 0, 0.2);;
}

@media (min-width: 1360px) {
	.wrapper {
		width: 49%;
	}
}

@media (min-width: 950px) {
	.wrapper {
		width: 49%;
	}
}