@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Lilita One', cursive;
	text-transform: uppercase;
}

.app-header {
	width: 100%;
	height: 77px;
	background-color: #001583;
}

.container-fluid {
	background: rgb(34,53,144);
	background: linear-gradient(90deg, rgba(34,53,144,1) 0%, rgba(9,9,121,1) 12%, rgba(75,119,198,1) 50%, rgba(49,77,164,1) 88%, rgba(34,53,144,1) 100%); 
}

/* Canvas setup */
#canvasContainer {
    position: relative;
    width: 300px;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    left: 290px;
    top: 58px;
    z-index: 999;
}